@import url('https://fonts.googleapis.com/css?family=Ubuntu:&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url('https://img.freepik.com/free-photo/beautiful-shot-forest-with-tall-green-trees_181624-20615.jpg?w=1380&t=st=1670700159~exp=1670700759~hmac=58c5b2f1037423e7e6298d0a2f8cf7f9b7f547bbdf597394f2ad3571981c8819') no-repeat center center/cover;
    position: absolute;
    top:-30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: azure;
}